In [110]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_wine

# Данными является набор из библиотеки sklearn. Набор данных является результатом химического анализа вин из одного региона в Италии. Подробнее на сайте https://archive.ics.uci.edu/ml/datasets/wine

### 1 Считать в pandas DataFrame любой источник данных:

In [111]:
wine = load_wine()
data = pd.DataFrame(data= np.c_[wine['data'], wine['target']],
                     columns= wine['feature_names'] + ['target'])

### 2 Совершаете с датафреймом следующие операции

### 2.1. .head() Показывает первые строки DataFrame

In [112]:
data.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0.0

### 2.2. .describe() Основные характеристики датасета

In [113]:
data.describe()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258,0.938202
std,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474,0.775035
min,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000,0.000000
25%,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000,0.000000
50%,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000,1.000000
75%,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000,2.000000
max,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000,2.000000

### 2.3. считайте значение конкретной ячейки (с конкретным индексом из конкретной колонки)
#### Возьмем строку с индексом 10 и столбцом alcohol

In [114]:
data['alcohol'][10]

14.1

### 2.4. фильтрация строк по диапазону индекса
#### Возьмем строки с 0 по 9 для столбцов alcohol, malic_acid

In [115]:
data[['alcohol', 'malic_acid']][0: 10]

   alcohol  malic_acid
0    14.23        1.71
1    13.20        1.78
2    13.16        2.36
3    14.37        1.95
4    13.24        2.59
5    14.20        1.76
6    14.39        1.87
7    14.06        2.15
8    14.83        1.64
9    13.86        1.35

### 2.5. фильтрация набора данных по какому-либо условию
#### Возьмем строки, у которых alcohol < 12

In [116]:
data[data.alcohol < 12]

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
74,11.96,1.09,2.30,21.0,101.0,3.38,2.14,0.13,1.65,3.21,0.99,3.13,886.0,1.0
75,11.66,1.88,1.92,16.0,97.0,1.61,1.57,0.34,1.15,3.80,1.23,2.14,428.0,1.0
77,11.84,2.89,2.23,18.0,112.0,1.72,1.32,0.43,0.95,2.65,0.96,2.52,500.0,1.0
84,11.84,0.89,2.58,18.0,94.0,2.20,2.21,0.22,2.35,3.05,0.79,3.08,520.0,1.0
87,11.65,1.67,2.62,26.0,88.0,1.92,1.61,0.40,1.34,2.60,1.36,3.21,562.0,1.0
88,11.64,2.06,2.46,21.6,84.0,1.95,1.69,0.48,1.35,2.80,1.00,2.75,680.0,1.0
94,11.62,1.99,2.28,18.0,98.0,3.02,2.26,0.17,1.35,3.25,1.16,2.96,345.0,1.0
96,11.81,2.12,2.74,21.5,134.0,1.60,0.99,0.14,1.56,2.50,0.95,2.26,625.0,1.0
103,11.82,1.72,1.88,19.5,86.0,2.50,1.64,0.37,1.42,2.06,0.94,2.44,415.0,1.0
109,11.61,1.35,2.70,20.0,94.0,2.74,2.92,0.29,2.49,2.65,0.96,3.26,680.0,1.0
110,11.46,3.74,1.82,19.5,107.0,3.18,2.58,0.24,3.58,2.90,0.75,2.81,562.0,1.0
112,11.76,2.68,2.92,20.0,103.0,1.75,2.03,0.60,1.05,3.80,1.23,2.50,607.0,1.0
113,11.41,0.74,2.50,21.0,88.0,2.48,2.01,0.42,1.44,3.08,1.10,2.31,434.0,1.0
115,11.03,1.51,2.20,21.5,85.0,2.46,2.17,0.52,2.01,1.90,1.71,2.87,407.0,1.0
116,11.82,1.47,1.99,20.8,86.0,1.98,1.60,0.30,1.53,1.95,0.95,3.33,495.0,1.0
120,11.45,2.40,2.42,20.0,96.0,2.90,2.79,0.32,1.83,3.25,0.80,3.39,625.0,1.0
121,11.56,2.05,3.23,28.5,119.0,3.18,5.08,0.47,1.87,6.00,0.93,3.69,465.0,1.0
124,11.87,4.31,2.39,21.0,82.0,2.86,3.03,0.21,2.91,2.80,0.75,3.64,380.0,1.0
127,11.79,2.13,2.78,28.5,92.0,2.13,2.24,0.58,1.76,3.00,0.97,2.44,466.0,1.0

### 2.6. работа с пропущенными значениями (если они есть): удаление строк с пропущенными значениями, заполнение пропущенных значений средним значением по колонке. Если пропущенных значений нет — намеренно их "генерируете", прибивая какие-то куски данных в np.nan
#### Так как в наборе нет np.nan добавим его в 10 строку в столбец alcohol. Затем удалим строки, где находится np.nan, и зададим, где np.nan, среднее число по колонке

In [117]:
data.at[2, 'alcohol'] = np.nan

In [118]:
data.drop(data[pd.isna(data['alcohol'])].index[0], axis = 0)
data

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0.0
2,NaN,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0,2.0
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0,2.0
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0,2.0
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0,2.0
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0,2.0

In [123]:
data.at[data[pd.isna(data.alcohol)].index[0], 'alcohol'] = data.alcohol.mean()
data

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.230000,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0.0
1,13.200000,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0.0
2,12.999718,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0.0
3,14.370000,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0.0
4,13.240000,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.710000,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0,2.0
174,13.400000,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0,2.0
175,13.270000,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0,2.0
176,13.170000,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0,2.0
177,14.130000,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0,2.0

### 2.7. создание нового поля вычисленного на основе значений других полей
#### 2.7.1. через выражение на базе имеющихся колонок,
#### Создадим столбец alco_ash, который будет равен среднему между alcohol и ash

In [124]:
data['alco_ash'] = (data.alcohol + data.ash) / 2
data

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target,alco_ash
0,14.230000,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0.0,8.330000
1,13.200000,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0.0,7.670000
2,12.999718,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0.0,7.834859
3,14.370000,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0.0,8.435000
4,13.240000,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0.0,8.055000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.710000,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0,2.0,8.080000
174,13.400000,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0,2.0,7.940000
175,13.270000,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0,2.0,7.765000
176,13.170000,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0,2.0,7.770000
177,14.130000,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0,2.0,8.435000

#### 2.7.2. через DataFrame.apply
#### Сделаем такой же столбец, как и до этого, только через метод apply

In [125]:
data['alco_ash'] = data.apply(lambda row: (row['alcohol'] + row['ash']) / 2, axis = 1)
data

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target,alco_ash
0,14.230000,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0.0,8.330000
1,13.200000,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0.0,7.670000
2,12.999718,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0.0,7.834859
3,14.370000,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0.0,8.435000
4,13.240000,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0.0,8.055000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.710000,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0,2.0,8.080000
174,13.400000,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0,2.0,7.940000
175,13.270000,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0,2.0,7.765000
176,13.170000,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0,2.0,7.770000
177,14.130000,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0,2.0,8.435000

#### 2.7.3. через Series.apply
#### Сделаем столбец на основе столбца alcohol

In [126]:
data['alco_ash'] = data['alcohol'].apply(lambda elem: np.exp(elem))
data

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target,alco_ash
0,14.230000,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0.0,1.513598e+06
1,13.200000,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0.0,5.403649e+05
2,12.999718,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0.0,4.422884e+05
3,14.370000,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0.0,1.741052e+06
4,13.240000,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0.0,5.624176e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.710000,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0,2.0,8.998650e+05
174,13.400000,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0,2.0,6.600032e+05
175,13.270000,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0,2.0,5.795458e+05
176,13.170000,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0,2.0,5.243947e+05
177,14.130000,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0,2.0,1.369560e+06

### 2.8. сортировка по какому-либо из полей
#### Отсортируем по столбцу ash

In [127]:
data.sort_values(by = 'ash')

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target,alco_ash
59,12.37,0.94,1.36,10.6,88.0,1.98,0.57,0.28,0.42,1.95,1.05,1.82,520.0,1.0,235625.745240
100,12.08,2.08,1.70,17.5,97.0,2.23,2.17,0.26,1.40,3.30,1.27,2.96,710.0,1.0,176310.160746
66,13.11,1.01,1.70,15.0,78.0,2.98,3.18,0.26,2.28,5.30,1.12,3.18,502.0,1.0,493856.367577
76,13.03,0.90,1.71,16.0,86.0,1.95,2.03,0.24,1.46,4.60,1.19,2.48,392.0,1.0,455886.885677
69,12.21,1.19,1.75,16.8,151.0,1.85,1.28,0.14,2.50,2.85,1.28,3.07,718.0,1.0,200787.015326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,13.40,4.60,2.86,25.0,112.0,1.98,0.96,0.27,1.11,8.50,0.67,1.92,630.0,2.0,660003.224766
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0.0,562417.648682
112,11.76,2.68,2.92,20.0,103.0,1.75,2.03,0.60,1.05,3.80,1.23,2.50,607.0,1.0,128027.453452
25,13.05,2.05,3.22,25.0,124.0,2.63,2.68,0.47,1.92,3.58,1.13,3.20,830.0,0.0,465096.411669
121,11.56,2.05,3.23,28.5,119.0,3.18,5.08,0.47,1.87,6.00,0.93,3.69,465.0,1.0,104820.013380

### 2.9. вычислить несколько статистик по колонкам (используйте встроенные агрегатные функции — любые на выбор)
#### Посчитаем максимум по ash и среднее по alcohol

In [128]:
data.ash.max()

3.23

In [129]:
data.alcohol.mean()

12.999717514124292

### 2.10. По какому-либо полю / набору полей смотрим число значений с помощью .value_counts()
#### Возьмем количество значений в столбце ash

In [130]:
data.ash.value_counts()

2.30    7
2.28    7
2.70    6
2.36    6
2.32    6
       ..
2.16    1
2.78    1
2.53    1
1.71    1
1.95    1
Name: ash, Length: 79, dtype: int64

### 2.11. Если значений немного — вывод уникальных значений какой-либо колонки через .unique()
#### Найдем уникальные значения столбца ash

In [131]:
data.ash.unique()

array([2.43, 2.14, 2.67, 2.5 , 2.87, 2.45, 2.61, 2.17, 2.27, 2.3 , 2.32,
       2.41, 2.39, 2.38, 2.7 , 2.72, 2.62, 2.48, 2.56, 2.28, 2.65, 2.36,
       2.52, 3.22, 2.8 , 2.21, 2.84, 2.55, 2.1 , 2.51, 2.31, 2.12, 2.59,
       2.29, 2.44, 2.4 , 2.04, 2.6 , 2.42, 2.68, 2.25, 2.46, 1.36, 2.02,
       1.92, 2.16, 2.53, 1.7 , 1.75, 2.24, 1.71, 2.23, 1.95, 2.  , 2.2 ,
       2.58, 2.26, 2.22, 2.74, 1.98, 1.9 , 1.88, 1.94, 1.82, 2.92, 1.99,
       2.19, 3.23, 2.73, 2.13, 2.78, 2.54, 2.64, 2.35, 2.15, 2.75, 2.69,
       2.86, 2.37])

### 2.12. Удалите текущий индекс и создайте новый индекс на базе новой колонки, которая для этого лучше всего подходит
#### Сделаем новым индексом столбец alcohol

In [132]:
data.set_index('alcohol')

,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target,alco_ash
alcohol,,,,,,,,,,,,,,
14.230000,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0.0,1.513598e+06
13.200000,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0.0,5.403649e+05
12.999718,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0.0,4.422884e+05
14.370000,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0.0,1.741052e+06
13.240000,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0.0,5.624176e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13.710000,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0,2.0,8.998650e+05
13.400000,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0,2.0,6.600032e+05
13.270000,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0,2.0,5.795458e+05
13.170000,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0,2.0,5.243947e+05
14.130000,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0,2.0,1.369560e+06

#### Для удобной группировки в столбце alcohol будет 1, если < 12 и 0, если больше >=12

In [133]:
data.alcohol[data.alcohol < 12] = 0
data.alcohol[data.alcohol >= 12] = 1
data

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target,alco_ash
0,1.0,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0.0,1.513598e+06
1,1.0,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0.0,5.403649e+05
2,1.0,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0.0,4.422884e+05
3,1.0,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0.0,1.741052e+06
4,1.0,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0.0,5.624176e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,1.0,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0,2.0,8.998650e+05
174,1.0,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0,2.0,6.600032e+05
175,1.0,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0,2.0,5.795458e+05
176,1.0,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0,2.0,5.243947e+05
177,1.0,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0,2.0,1.369560e+06

### 3. Продемонстрировать работу .groupby, на основе группировок в groupby вычисляете агрегатные функции по одной или нескольким колонкам
#### Возьмем столбцы alcohol и ash, затем найдем количество hue

In [134]:
grouped_data = data.groupby(['alcohol', 'ash'])['hue'].count()
grouped_data

alcohol  ash
0.0      1.82    1
         1.88    1
         1.92    1
         1.99    1
         2.20    1
                ..
1.0      2.80    1
         2.84    1
         2.86    1
         2.87    1
         3.22    1
Name: hue, Length: 92, dtype: int64

### 4. Решейпинг данных 1Dto2D с помощью .pivot (можно подать на вход результаты агрегатов, полученных ранее через .groupby (сгруппировать по двум полям), либо прекрасно заходит сюда данные из SQL сгруппированные предварительно по 2-м полям) 
#### Возьмем alcohol за индекс и ash за столбец

In [136]:
a = grouped_data.reset_index()
a.pivot(index = 'alcohol', columns = 'ash')

         hue                                               ...                 \
ash     1.36 1.70 1.71 1.75 1.82 1.88 1.90 1.92 1.94 1.95  ... 2.74 2.75 2.78
alcohol                                                    ...
0.0      NaN  NaN  NaN  NaN  1.0  1.0  NaN  1.0  NaN  NaN  ...  1.0  NaN  1.0
1.0      1.0  2.0  1.0  1.0  NaN  NaN  1.0  2.0  1.0  1.0  ...  1.0  1.0  NaN


ash     2.80 2.84 2.86 2.87 2.92 3.22 3.23
alcohol
0.0      NaN  NaN  NaN  NaN  1.0  NaN  1.0
1.0      1.0  1.0  1.0  1.0  NaN  1.0  NaN

[2 rows x 79 columns]

### 5. Решейпинг 1Dto2D данных соединённый с группировкой / агрегацией (одним словом — сводная таблица): .pivot_table. Группируем только по категориальным полям или числовым, если уверены, что значений немного! Если значений много, можете вначале из загрубить (см. (2.7.) либо (7)) 
#### Возьмем alcohol за индекс и ash за столбцец. Найдем сумму для столбца color_intensity

In [137]:
data.pivot_table(index = 'alcohol', columns = 'ash', values = 'color_intensity', aggfunc = 'sum')

ash,1.36,1.70,1.71,1.75,1.82,1.88,1.90,1.92,1.94,1.95,...,2.74,2.75,2.78,2.80,2.84,2.86,2.87,2.92,3.22,3.23
alcohol,,,,,,,,,,,,,,,,,,,,,
0.0,NaN,NaN,NaN,NaN,2.9,2.06,NaN,3.80,NaN,NaN,...,2.5,NaN,3.0,NaN,NaN,NaN,NaN,3.8,NaN,6.0
1.0,1.95,8.6,4.6,2.85,NaN,NaN,2.45,8.48,2.7,3.4,...,9.2,7.1,NaN,4.5,4.6,8.5,4.32,NaN,3.58,NaN

### 6. Посчитать квантили распределения какого-либо вещественного признака (с помощью numpy.quantile или numpy.percentile) 
#### Посчитаем квантиль для столбца ash с значением квантиля 1

In [142]:
np.quantile(data.ash, 1)

3.23

### 7. Посчитать (в виде текста) гистограмму какого-либо вещественного признака (с помощью numpy.histogram). Значения гистограммы можете использовать как вариант в качестве загрубленного числового признака для заданий 4 или 5. 
#### Посчитаем гистограмму для столбца alcohol

In [146]:
np.histogram(data.alcohol)

(array([ 19,   0,   0,   0,   0,   0,   0,   0,   0, 159]),
 array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ]))

### 8. Получить DataFrame с MultiIndex любым способом: через конструктор (в документации увидите множество видов конструкторов для создания MultiIndex с нуля), через read_sql / read_csv / read_excel, read_*, через pivot_table, через groupby или иными способами.
#### Создадим DataFrame через конструктор, где индексами будут числа от 0 до 9 и числа от -1 до 8. Числа будут случайными. Задаим 4 столбца

In [147]:
new_frame = pd.DataFrame(np.random.randn(10, 4),
    index= [ [i for i in range(10)],
             [j for j in range(-1, 9)] ]
)
new_frame

             0         1         2         3
0 -1 -0.342093 -0.874772  0.901415  1.701950
1  0 -0.876512 -0.482714  0.719144 -0.463365
2  1  0.062960  0.582988  0.411214  1.494188
3  2 -0.454058 -0.244741 -1.628905 -0.149085
4  3 -0.455727  1.705937 -0.554426 -0.869726
5  4 -0.116138  0.390044 -0.420205 -1.900962
6  5  1.357583  0.150363 -0.189200  1.420342
7  6 -1.039603 -1.086069 -0.229707 -0.193019
8  7  1.457406 -1.238487 -0.807826  1.104906
9  8  0.242048 -0.551154  0.412662 -0.087220

### 8.1. Переставить местами уровни индекса
#### Поменяем уровни индексов. Теперь сначала индексы от -1 до 8, а потом от 0 до 9

In [148]:
new_frame.swaplevel(i = 0, j = 1, axis = 0)

             0         1         2         3
-1 0 -0.342093 -0.874772  0.901415  1.701950
 0 1 -0.876512 -0.482714  0.719144 -0.463365
 1 2  0.062960  0.582988  0.411214  1.494188
 2 3 -0.454058 -0.244741 -1.628905 -0.149085
 3 4 -0.455727  1.705937 -0.554426 -0.869726
 4 5 -0.116138  0.390044 -0.420205 -1.900962
 5 6  1.357583  0.150363 -0.189200  1.420342
 6 7 -1.039603 -1.086069 -0.229707 -0.193019
 7 8  1.457406 -1.238487 -0.807826  1.104906
 8 9  0.242048 -0.551154  0.412662 -0.087220

### 8.2. Транспонировать таблицу (или создать новую другую) с multiindex
#### Транспонируем таблицу. Теперь количество строк 4, а столбцов 10 с двумерным индексом

In [149]:
new_frame.T

,0,1,2,3,4,5,6,7,8,9
,-1,0,1,2,3,4,5,6,7,8
0,-0.342093,-0.876512,0.062960,-0.454058,-0.455727,-0.116138,1.357583,-1.039603,1.457406,0.242048
1,-0.874772,-0.482714,0.582988,-0.244741,1.705937,0.390044,0.150363,-1.086069,-1.238487,-0.551154
2,0.901415,0.719144,0.411214,-1.628905,-0.554426,-0.420205,-0.189200,-0.229707,-0.807826,0.412662
3,1.701950,-0.463365,1.494188,-0.149085,-0.869726,-1.900962,1.420342,-0.193019,1.104906,-0.087220

### 8.3. Удалить один из уровней индекса или добавить новый уровень индекса (можно инициализированный константой) — посмотрите сами в документации как это делать
#### Удалим уровень индекса 1

In [150]:
new_frame.droplevel(level = 1)

          0         1         2         3
0 -0.342093 -0.874772  0.901415  1.701950
1 -0.876512 -0.482714  0.719144 -0.463365
2  0.062960  0.582988  0.411214  1.494188
3 -0.454058 -0.244741 -1.628905 -0.149085
4 -0.455727  1.705937 -0.554426 -0.869726
5 -0.116138  0.390044 -0.420205 -1.900962
6  1.357583  0.150363 -0.189200  1.420342
7 -1.039603 -1.086069 -0.229707 -0.193019
8  1.457406 -1.238487 -0.807826  1.104906
9  0.242048 -0.551154  0.412662 -0.087220

### 9. Продемонстировать работу .merge
#### Объединим 2 набора, состоящие из столбцов A, B, D, W и w, d

In [151]:
frame = pd.DataFrame(np.random.randn(10, 4), columns = ['A', 'B', 'D', 'W'])
frame1 = pd.DataFrame(np.random.randn(10, 2), columns = ['w', 'd'])

In [152]:
frame.merge(frame1, left_index = True, right_index = True)

          A         B         D         W         w         d
0  0.114963  0.387478  1.234106 -1.311262 -0.695023  1.074014
1  0.616913 -0.802585 -0.705995  0.226014  0.008679  0.793353
2  0.788901 -1.144433  0.204443  1.311052 -0.154483 -1.171538
3 -0.035428  0.247323 -0.078936  1.573071 -1.270984  1.222917
4  1.805197  0.008387 -0.532918  0.950411 -0.254476 -0.320281
5 -2.138112 -0.218494  1.030631  0.701789 -0.306227 -0.669191
6  0.520506 -0.226976  0.183193 -0.465502 -0.200337  0.797765
7 -0.425263 -0.788578  0.597944  0.403105 -0.074657  0.240805
8  1.433942  0.231756 -2.559841  0.861468 -0.051378 -0.325420
9  0.803405 -1.381117 -0.423376 -2.152621 -0.890664  1.009827

### 10. Продемонстрировать работу с .concat или append 
#### Посел вызова concat объединились столбцы и строки

In [153]:
pd.concat([frame, frame1])

          A         B         D         W         w         d
0  0.114963  0.387478  1.234106 -1.311262       NaN       NaN
1  0.616913 -0.802585 -0.705995  0.226014       NaN       NaN
2  0.788901 -1.144433  0.204443  1.311052       NaN       NaN
3 -0.035428  0.247323 -0.078936  1.573071       NaN       NaN
4  1.805197  0.008387 -0.532918  0.950411       NaN       NaN
5 -2.138112 -0.218494  1.030631  0.701789       NaN       NaN
6  0.520506 -0.226976  0.183193 -0.465502       NaN       NaN
7 -0.425263 -0.788578  0.597944  0.403105       NaN       NaN
8  1.433942  0.231756 -2.559841  0.861468       NaN       NaN
9  0.803405 -1.381117 -0.423376 -2.152621       NaN       NaN
0       NaN       NaN       NaN       NaN -0.695023  1.074014
1       NaN       NaN       NaN       NaN  0.008679  0.793353
2       NaN       NaN       NaN       NaN -0.154483 -1.171538
3       NaN       NaN       NaN       NaN -1.270984  1.222917
4       NaN       NaN       NaN       NaN -0.254476 -0.320281
5       NaN       NaN       NaN       NaN -0.306227 -0.669191
6       NaN       NaN       NaN       NaN -0.200337  0.797765
7       NaN       NaN       NaN       NaN -0.074657  0.240805
8       NaN       NaN       NaN       NaN -0.051378 -0.325420
9       NaN       NaN       NaN       NaN -0.890664  1.009827

### 11. Проитерировать dataframe построчно .iterrows() и что-то "полезное" сделайте внутри цикла
#### В столбцах B и W все значения сделаем 0

In [154]:
for r in frame.iterrows():
    r[1][['B', 'W']] = 0
frame

          A    B         D    W
0  0.114963  0.0  1.234106  0.0
1  0.616913  0.0 -0.705995  0.0
2  0.788901  0.0  0.204443  0.0
3 -0.035428  0.0 -0.078936  0.0
4  1.805197  0.0 -0.532918  0.0
5 -2.138112  0.0  1.030631  0.0
6  0.520506  0.0  0.183193  0.0
7 -0.425263  0.0  0.597944  0.0
8  1.433942  0.0 -2.559841  0.0
9  0.803405  0.0 -0.423376  0.0